$colorPrimary: rgb(118, 194, 27);
$colorPrimaryLight: rgb(129, 170, 48);
$colorBlack: rgba(0, 0, 0, 0.841);
$colorFontWhite: rgba(255, 255, 255);
$color-light-grey-1 : #f7f7f7;

$color-grey-dark : #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$color-footer: #494949;
$facebook-color: hsl(226,43%,49%);
$twitter-color: hsl(207,86%,57%);
$insta-color: hsl(326,90%,42%);
$linked-color: hsl(218,56%,45%);

$color-red: hsl(0,100%,48%);


$section-padding: 5rem 10rem;