
.contact {
    //background-color: aqua;
    background-image: url('/contact-img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: $color-black;
    margin-top: 14.6rem;
    padding: 5rem 10rem;
    color: rgba($color-white, 0.8);
    @include respond(phone) {
      padding: 5rem 3rem;
    }
  
    &_heading {
      //background-color: aquamarine;
      h1 {
        font-size: 7rem;
        letter-spacing: 0.2rem;
        
      }
      h4 {
        color: $colorPrimaryLight;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
      }
    }
  
    .address__info {
      padding-top: 3rem;
     
      div {

        display: flex;

        &:not(:last-child) {

          margin-bottom: 2rem;
        }
        i {

          .address__icons {

            font-size: 2rem;

          }
        }
        h3 {
          margin-left: 2rem;
          font-size: 2rem;
          font-weight: 400;
        }

      }
    }
  
    .in__touch {
      padding-top: 3rem;
  
      h2 {
        font-size: 3rem;
      }
    }
  
    .form__container {
  
  
      .form {
  
        display: flex;
        flex-direction: column;
  
        margin-top: 2rem;
        .form_input-container {
          max-width: 50rem;
         
  
          input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      textarea {
        height: 15rem;
        padding: 2rem 1rem;
        margin-bottom: 0.5rem;
      }
          .form_input {
            width: 100%;
            padding: 2rem 1rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  
  
    .btn .btn {
      margin-top: 2rem;
      text-align: center;
      border: none;
      outline: none;
      padding: 1.5rem 4rem;
      border-radius: 0.5rem;
      color: $colorFontWhite;
      font-size: 1.9rem;
      letter-spacing: 0.3rem;
      background-image: linear-gradient(
        to left,
        $colorPrimary,
        $colorPrimaryLight
      );
  
      &:hover {
        cursor: pointer;
      }
    }
  }