.custom-shape-divider-bottom-1658044684 {
    position: absolute;
    bottom: -101px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    //transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658044684 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 101px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1658044684 .shape-fill {
    fill: $colorPrimary;
}